footer {
    background-color: #151515;
    /* margin-block-start: 8rem; */
    padding-block-end: 2.4rem;
    padding-block-start: 4rem;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1607843137254902);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    margin-bottom: 2rem;
}

.socials svg {
    fill: #9e9e9e;
    height: 2.7rem;
}

.socials span {
    color: #9e9e9e;
    font-size: 3rem;
    line-height: 2.7rem;
    font-weight: bold;
}

.socials svg:hover,
.socials span:hover {
    fill: white;
    color: white;
}

.footer-logo {
    text-align: center;
    margin-bottom: 1.6rem;
}

.terms {
    text-align: center;
}
